td.details-control {
    background: url('details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('details_close.png') no-repeat center center;
}

select {
  background: none transparent;
  height: 60px;
  border: none;
  outline: 0;
  border-bottom: 2px solid white;
  width: 20vw;
  min-width: 480px;
  margin: auto;
  letter-spacing: .10em;
  font-size: 36px;
  font-weight: 600;
  display: block;
  color: #000;
  text-transform: uppercase;
  position: relative;
  transition: color .3s .15s ease-in;
  text-align-last: center;
}

select:focus {
  content: "";
  background-color: #74d3dc;
  text-align-last: center;
}

select:hover {
  color: #ffffff;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

@media (max-width: 829px) {
  select {
    font-size: 29px;
    font-weight: 500;
    min-width: 400px;
  }
  .row {
      margin-left: -5px;
  }
}

th {
    background-color: #74d3dc;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #74d3dc50;
}
